<template>
  <header class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <nuxt-link to="/" class="navbar-brand">{{ title }}</nuxt-link>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div id="navbarNav" class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <nuxt-link to="/api" class="nav-link">API</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/static" class="nav-link">Static</nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  data() {
    return {
      title: process.env.sitename,
    }
  },
}
</script>

<style lang="scss" scoped></style>
