<template>
  <section>
    <p v-if="$fetchState.pending">Fetching users...</p>
    <p v-else-if="$fetchState.error">An error occurred</p>

    <div v-else>
      <h1 class="section-heading">
        {{ user.name }}
        <small>{{ user.username }}</small>
      </h1>

      <div class="table-responsive-sm">
        <table class="table table-striped caption-top">
          <caption>
            Personal data
          </caption>
          <tbody>
            <tr>
              <th scope="row">ID</th>
              <td>{{ user.id }}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <th scope="row">Company</th>
              <td>{{ user.company.name }}</td>
            </tr>
            <tr>
              <th scope="row">Website</th>
              <td>{{ user.website }}</td>
            </tr>
            <tr>
              <th scope="row">Location</th>
              <td>
                {{ user.address.street }}
                {{ user.address.suite }}, {{ user.address.city }},
                {{ user.address.zipcode }}
                <small class="d-block">
                  <a
                    :href="`https://www.google.com/maps/place/${user.address.geo.lat}+${user.address.geo.lng}`"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <i class="fas fa-map-marker-alt me-1"></i>
                    View on Google Maps
                  </a>
                </small>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" @click="$fetch">Refresh</button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      user: [],
      title: 'Users',
    }
  },
  async fetch() {
    this.user = await this.$axios.$get(`https://jsonplaceholder.typicode.com/users/${this.$route.params.id}`)
  },
  fetchOnServer: false,
  head() {
    return {
      title: this.user.name,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `This page gives you contents about "${this.title}".`,
        },
      ],
    }
  },
  methods: {
    refresh() {
      this.$fetch()
    },
  },
}
</script>

<style lang="scss" scoped>
.map-frame {
  border: 0;
  display: block;
  height: 20rem;
  margin: 0 auto;
  max-width: 48rem;
  width: 100%;
}
</style>
