<template>
  <div id="app">
    <Header />
    <main class="container">
      <Nuxt />
    </main>
    <Footer />
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Header,
    Footer,
  },
}
</script>

<style lang="scss">
@use 'assets/scss/variables' as *;

html,
body,
#__nuxt,
#__layout,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  padding-top: 7rem;
}

section {
  margin-bottom: 3rem;
}

.section-heading {
  small {
    color: $gray-600;
    display: block;
    font-size: 50%;
    margin-top: 0.5rem;
  }
}
</style>
