<template>
  <section>
    <h1 class="section-heading">
      {{ title }}
      <small>By JSONPlaceholder</small>
    </h1>

    <p v-if="$fetchState.pending">Fetching users...</p>
    <p v-else-if="$fetchState.error">An error occurred</p>

    <div class="list-group list-group-flush">
      <nuxt-link v-for="user in users" :key="user.id" :to="`/user/${user.id}`" class="list-group-item list-group-item-action">
        {{ user.name }}
      </nuxt-link>
    </div>

    <div class="mt-4">
      <button class="btn btn-primary" @click="$fetch">Refresh</button>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      title: 'Users',
      users: [],
    }
  },
  async fetch() {
    this.users = await this.$axios.$get('https://jsonplaceholder.typicode.com/users')
  },
  fetchOnServer: false,
  head() {
    return {
      title: this.title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `This page gives you contents about "${this.title}".`,
        },
      ],
    }
  },
  methods: {
    refresh() {
      this.$fetch()
    },
  },
}
</script>

<style lang="scss" scoped></style>
