<template>
  <section>
    <h1 class="section-heading">{{ title }}</h1>

    <div class="text-center mb-4">
      <common-button type="button" variant="primary" size="md" data-bs-toggle="modal" data-bs-target="#exampleModal">
        モーダルを開く
      </common-button>
    </div>

    <div id="exampleModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="exampleModalLabel" class="modal-title">ポラーノの広場</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。
            </p>
          </div>
          <div class="modal-footer">
            <common-button type="button" variant="secondary" size="sm" data-bs-dismiss="modal">閉じる</common-button>
            <common-button type="button" variant="primary" size="sm">保存する</common-button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      title: process.env.sitename,
    }
  },
  head() {
    return {
      titleTemplate: '',
      title: this.title,
    }
  },
}
</script>

<style lang="scss" scoped></style>
